:root {
    --primary-color: #e50914;
    --dark-color: #141414;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    background: black;
    color: #999;
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

/* p {
    margin: 0.5rem 0;
} */
img {
    width: 100%;

}


.container {
    display: grid;

    grid-template-areas:
        "header header header"
        "content content content";
        /* "footer footer footer"; */

    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto 1fr;
    grid-gap: 5px;

    overflow: hidden;
    padding-top: 10px;
    height: 100vh;
    border-style: solid;
    border-color: red;

    /* background: url(https://source.unsplash.com/collection/9279607) no-repeat center/cover; */
    /* background: url(/img/clear_blue_daytime_sky_bg.svg) no-repeat center/cover; */
}





header {
    grid-area: header;
}

nav {
    grid-area: nav;
    margin-left: 0.5rem;
}

main {
    grid-area: content;
    position:absolute;
    bottom:0;
}

aside {
    grid-area: side;
    margin-right: 0.5rem;
}

footer {
    grid-area: footer;
}


.location {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    min-height: 80px;
    border-style: solid;
    border-color: rgb(38, 207, 4);

}

.temperature {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-height: 80px;
    min-height: 80px;
    border-style: solid;
    border-color: rgb(38, 207, 4);
    flex-direction: column;
}

.temperature canvas {
    width: 35%;
}

.temperature-degree {
    padding: 10px;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-color: blueviolet;
}

.degree-section span {
    margin-left: 5px;
    font-size: 20px;
}

.time-section {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-style: solid;
    border-color: blueviolet;
}

.time-section img {
    z-index: 10;
}

.time-location {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-style: solid;
    border-color: rgb(222, 226, 5);
    flex-direction: column;
    max-height: 50px;
    min-height: 20px;

}

.footer-section{
border-style: dotted;
border-color: aqua;
padding: 1px;
margin: 1px;

}
.snow{
    z-index: 10;
    position: absolute;
    height: 97vh;
    width: 97vw;
    display:block; 
    overflow: hidden;
}


.main-content-section{
    /* height: 10vh; */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* max-height: 80px;
    min-height: 80px; */
    border-style: solid;
    border-color: rgb(207, 4, 200);
    flex-direction: column;
    align-items: center;
}






.city {

    height: 100%;
    width: 100%;
    position:relative;

    height: 80vh;
    width: 100vw;
    border-style: dotted;
    border-color: pink;
    position: relative;
    overflow: hidden;
    
    
    justify-content: end;
    z-index: 1;

    max-width:100%;
    
    max-height:100%;

    align-items: center;
}

.buildings img {
    border-style: dotted;
    border-color: black;
  
    position:absolute;
    bottom:0;

    vertical-align: bottom;
    width: 100%;
    height: auto;
    margin-right : auto;
    margin-left : auto;
    min-width : 1500px;
    max-width : auto;

}
.showcase {

    /* background: rgba(0, 0, 0, .1);
    height: 100%;
    width: 100%;
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    padding: 30px;
    border-style: solid;
    border-color: red;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr); 
    grid-gap: 10px;
    width: 100vw;
    height: 100vh;
    flex-direction:row ;
    align-items: start;
    justify-items: end; */



    /* background: url(https://source.unsplash.com/collection/7577014) no-repeat center/cover; */
    /* background: url(https://images.unsplash.com/photo-1486046866764-e426b5b93d98?ixlib=rb-1.2.1&auto=format&fit=crop&w=3127&q=80) no-repeat center/cover; */

}




.showcase-top {
    /* display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(3, 1fr); */
    position: relative;
    /* height: 90px; */
    z-index: 2;
}



.showcase-top img {
    /* position: absolute;
         height: 90px;
        width: 80px;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%); */

    position: absolute;
    height: 90px;
    width: 60px;
    top: 30%;
    left: 94%;
    transform: translate(-50%, -50%);

}

.item-icon {

    grid-column: 10 / 10;
    grid-row: 1 / 1;

    align-items: start;
    justify-items: end;

    /* background: rgba(0, 0, 0, .1);
        border-style: solid;
        border-color: red; */

}

.item-time {

    grid-column: 1/ 10;
    grid-row: 1 / 10;

    align-items: start;
    justify-items: end;

    background: rgba(0, 0, 0, .1);
    border-style: solid;
    border-color: red;

}

.showcase-top p {
    position: absolute;
    /* height: 90px; */
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase-top h2 {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

}

.showcase-top a {
    position: absolute;
    top: 25%;
    right: 0;
    transform: translate(-50%, -50%);
}

.showcase-top p {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.local-time {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}


.showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 18rem;
    z-index: 2;
}

.greetings {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0rem;
    margin-top: 2rem;
    border-style: solid;
    border-color: red;
}

.greetings p {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:.5rem ;
    margin-right: 1rem; 
    margin-bottom: 0rem;

}

.greetings span {
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-top: 5rem; */
}

.buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem;
}

.quotes {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
  
    border-style: solid;
    border-color: red;
    max-width: 450px;
    line-height: 30px;
    overflow-wrap: break-word;

    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 900px; */
}


.showcase-content h1 {
    font-weight: 100px;
    font-size: 9.2rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.showcase-content p {

    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;

}




.btn {
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: .4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: .5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .45);
    border-radius: 2px;
}

.btn:hover {
    opacity: .9;
}

.btn-rounded {

    border-radius: 5px;
}

.btn-xl {
    font-size: 2rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8em 1.3rem;
    text-transform: uppercase;
}




.cover {
    background-size: cover !important;
}

.dt {
    display: table;
}

.dtc {
    display: table-cell;
}

.athelas {
    font-family: athelas, georgia, serif;
}

.i {
    font-style: italic;
}

.fs-normal {
    font-style: normal;
}

.fw1 {
    font-weight: 100;
}

.vh-100 {
    height: 100vh;
}

.tracked {
    letter-spacing: .1em;
}

.lh-title {
    line-height: 1.25;
}

.lh-copy {
    line-height: 1.5;
}

.w-100 {
    width: 100%;
}

.white-70 {
    color: rgba(255, 255, 255, .7);
}

.white-60 {
    color: rgba(255, 255, 255, .6);
}

.white {
    color: #fff;
}

.bg-dark-gray {
    background-color: #333;
}

.pv5 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.ph0 {
    padding-left: 0;
    padding-right: 0;
}

.ph2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.mh0 {
    margin-left: 0;
    margin-right: 0;
}

.tc {
    text-align: center;
}

.ttu {
    text-transform: uppercase;
}

.f1 {
    font-size: 3rem;
}

.f4 {
    font-size: 1.25rem;
}

.f5 {
    font-size: 1rem;
}

.f6 {
    font-size: .875rem;
}

.f-headline-l {
    font-size: 10em;
}

.measure {
    max-width: 30em;
}

.measure-wide {
    max-width: 34em;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

.v-mid {
    vertical-align: middle;
}

@media screen and (min-width: 60em) {
    .f-headline-l {
        font-size: 6rem;
    }
}